{% extends 'layout.twig' %}

{% block body %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="block-section">
            <div class="header">
              Crypto Pairs
            </div>
            <div class="block">
              <div id="markets">
                <div v-if="markets">
                  <div v-for="pair in markets">
                    <div class="pair-container">
                      <b>
                        <i v-bind:class="pair.info.base_currency | cryptofont"></i>
                        <span>${pair.symbol}</span>
                      </b>
                      <span class="right">
                      <span class="span-taker">${pair.taker}</span>
                      <span class="span-maker">${pair.maker}</span>
                    </span>
                    </div>
                  </div>
                </div>
                <div v-else class="no-content">
                  <img src="/images/bitcoin.png" alt="">
                  <h5>No currency pairs</h5>
                  <small>There is no information about currency pairs on this exchange</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="block-section">
            <div class="header">

              <select id="toolbar-select-chart" @change="toggle($event)">
                <option v-for="exchange in exchanges" v-bind:value="exchange.value">${exchange.pair} ${exchange.name}</option>
              </select>

              <span v-on:click="toggle" id="toolbar-sound-on-change-price" v-bind:style="{color: turn ? 'white' : 'gray'}">
                <i class="fas fa-volume toolbar-icon-toggle"></i>
              </span>

              <div class="right">
                <span id="priceStat">
                  <span class="price-info">
                    Price change:
                    <span class="change-price">${change}$</span>
                  </span>
                   <span class="price-info">
                    Volume (BTC):
                    <span class="default-price">${volume}</span>
                  </span>
                  <span class="price-info">
                    High:
                    <span class="high-price">${high}$</span>
                  </span>
                  <span class="price-info">
                    Low:
                    <span class="low-price">${low}$</span>
                  </span>
              </span>
              </div>
            </div>
            <div class="block">

              <div id="vue-chart-price">
                <div id="price_chart"></div>
              </div>

              <div id="vue-chart-indicator-rvi">
                <span class="indicator-name">RVI</span>
                <div id="indicators_chart_rvi"> </div>
              </div>

              <div id="vue-chart-indicator-macd">
                 <span class="indicator-name">MACD</span>
                <div id="indicators_chart_macd"></div>
              </div>


              <div id="vue-chart-indicator-mvrvzscope">
                <span class="indicator-name">MVRV Z-Scope</span>
                <div id="indicators_chart_mvrvzscope"></div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="block-section">
            <div class="header">
              Terminal Deals
            </div>
            <div class="block">
              <div v-if="false"></div>
              <div v-else class="no-content">
                <img src="/images/money.png" alt="">
                <h5>Empty</h5>
                <small>You don't have any open orders at this time.</small>
              </div>
            </div>
          </div>
          <div class="block-section">
            <div class="header">
              News
            </div>
            <div class="block" id="feed">
              <div v-if="items">
                <div v-if="items" v-for="post in items" class="post-body">
                  <h5>${post.title}</h5>
                  <small class="feed-description">${post.description}</small>
                </div>
              </div>
              <div v-else class="no-content">
                <img src="/images/text-lines.png" alt="">
                <h5>No news yet.</h5>
                <small>No news in the world of cryptology yet.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="block-section">
            <div class="header">
              Exchange OrderBook
            </div>
            <div class="block" id="ordersBook">

              <div v-for="item in asks" class="orderAsk">
                <span class="left" v-bind:style="{width: item[1]/1000 > 70 ? 70 : item[1]/1000 + '%'}">
                  ${item[0]}
                </span>
                <span class="right">
                  ${item[1]}
                </span>
              </div>

              <div v-for="item in bids" class="orderBids">
                 <span class="left" v-bind:style="{width: item[1]/1000 > 70 ? 70 : item[1]/1000 + '%'}">
                  ${item[0]}
                </span>
                <span class="right">
                  ${item[1]}
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

{% endblock %}
