acx:
  apiKey: ''
  secret: ''
  testnet: false
aofex:
  apiKey: ''
  secret: ''
  testnet: false
bcex:
  apiKey: ''
  secret: ''
  testnet: false
bequant:
  apiKey: ''
  secret: ''
  testnet: false
bibox:
  apiKey: ''
  secret: ''
  testnet: false
bigone:
  apiKey: ''
  secret: ''
  testnet: false
binance:
  apiKey: ''
  secret: ''
  testnet: false
binanceje:
  apiKey: ''
  secret: ''
  testnet: false
binanceus:
  apiKey: ''
  secret: ''
  testnet: false
bit2c:
  apiKey: ''
  secret: ''
  testnet: false
bitbank:
  apiKey: ''
  secret: ''
  testnet: false
bitbay:
  apiKey: ''
  secret: ''
  testnet: false
bitfinex:
  apiKey: ''
  secret: ''
  testnet: false
bitfinex2:
  apiKey: ''
  secret: ''
  testnet: false
bitflyer:
  apiKey: ''
  secret: ''
  testnet: false
bitforex:
  apiKey: ''
  secret: ''
  testnet: false
bitget:
  apiKey: ''
  secret: ''
  testnet: false
bithumb:
  apiKey: ''
  secret: ''
  testnet: false
bitkk:
  apiKey: ''
  secret: ''
  testnet: false
bitmart:
  apiKey: ''
  secret: ''
  testnet: false
bitmax:
  apiKey: ''
  secret: ''
  testnet: false
bitmex:
  apiKey: ''
  secret: ''
  testnet: false
bitpanda:
  apiKey: ''
  secret: ''
  testnet: false
bitso:
  apiKey: ''
  secret: ''
  testnet: false
bitstamp:
  apiKey: ''
  secret: ''
  testnet: false
bitstamp1:
  apiKey: ''
  secret: ''
  testnet: false
bittrex:
  apiKey: ''
  secret: ''
  testnet: false
bitvavo:
  apiKey: ''
  secret: ''
  testnet: false
bitz:
  apiKey: ''
  secret: ''
  testnet: false
bl3p:
  apiKey: ''
  secret: ''
  testnet: false
bleutrade:
  apiKey: ''
  secret: ''
  testnet: false
braziliex:
  apiKey: ''
  secret: ''
  testnet: false
btcalpha:
  apiKey: ''
  secret: ''
  testnet: false
btcbox:
  apiKey: ''
  secret: ''
  testnet: false
btcmarkets:
  apiKey: ''
  secret: ''
  testnet: false
btctradeua:
  apiKey: ''
  secret: ''
  testnet: false
btcturk:
  apiKey: ''
  secret: ''
  testnet: false
buda:
  apiKey: ''
  secret: ''
  testnet: false
bw:
  apiKey: ''
  secret: ''
  testnet: false
bybit:
  apiKey: ''
  secret: ''
  testnet: false
bytetrade:
  apiKey: ''
  secret: ''
  testnet: false
cex:
  apiKey: ''
  secret: ''
  testnet: false
chilebit:
  apiKey: ''
  secret: ''
  testnet: false
coinbase:
  apiKey: ''
  secret: ''
  testnet: false
coinbaseprime:
  apiKey: ''
  secret: ''
  testnet: false
coinbasepro:
  apiKey: ''
  secret: ''
  testnet: false
coincheck:
  apiKey: ''
  secret: ''
  testnet: false
coinegg:
  apiKey: ''
  secret: ''
  testnet: false
coinex:
  apiKey: ''
  secret: ''
  testnet: false
coinfalcon:
  apiKey: ''
  secret: ''
  testnet: false
coinfloor:
  apiKey: ''
  secret: ''
  testnet: false
coingi:
  apiKey: ''
  secret: ''
  testnet: false
coinmarketcap:
  apiKey: ''
  secret: ''
  testnet: false
coinmate:
  apiKey: ''
  secret: ''
  testnet: false
coinone:
  apiKey: ''
  secret: ''
  testnet: false
coinspot:
  apiKey: ''
  secret: ''
  testnet: false
coss:
  apiKey: ''
  secret: ''
  testnet: false
crex24:
  apiKey: ''
  secret: ''
  testnet: false
currencycom:
  apiKey: ''
  secret: ''
  testnet: false
deribit:
  apiKey: ''
  secret: ''
  testnet: false
digifinex:
  apiKey: ''
  secret: ''
  testnet: false
dsx:
  apiKey: ''
  secret: ''
  testnet: false
eterbase:
  apiKey: ''
  secret: ''
  testnet: false
exmo:
  apiKey: ''
  secret: ''
  testnet: false
exx:
  apiKey: ''
  secret: ''
  testnet: false
fcoin:
  apiKey: ''
  secret: ''
  testnet: false
fcoinjp:
  apiKey: ''
  secret: ''
  testnet: false
flowbtc:
  apiKey: ''
  secret: ''
  testnet: false
foxbit:
  apiKey: ''
  secret: ''
  testnet: false
ftx:
  apiKey: ''
  secret: ''
  testnet: false
gateio:
  apiKey: ''
  secret: ''
  testnet: false
gemini:
  apiKey: ''
  secret: ''
  testnet: false
hbtc:
  apiKey: ''
  secret: ''
  testnet: false
hitbtc:
  apiKey: ''
  secret: ''
  testnet: false
hollaex:
  apiKey: ''
  secret: ''
  testnet: false
huobijp:
  apiKey: ''
  secret: ''
  testnet: false
huobipro:
  apiKey: ''
  secret: ''
  testnet: false
huobiru:
  apiKey: ''
  secret: ''
  testnet: false
ice3x:
  apiKey: ''
  secret: ''
  testnet: false
idex:
  apiKey: ''
  secret: ''
  testnet: false
independentreserve:
  apiKey: ''
  secret: ''
  testnet: false
indodax:
  apiKey: ''
  secret: ''
  testnet: false
itbit:
  apiKey: ''
  secret: ''
  testnet: false
kraken:
  apiKey: ''
  secret: ''
  testnet: false
kucoin:
  apiKey: ''
  secret: ''
  testnet: false
kuna:
  apiKey: ''
  secret: ''
  testnet: false
lakebtc:
  apiKey: ''
  secret: ''
  testnet: false
latoken:
  apiKey: ''
  secret: ''
  testnet: false
lbank:
  apiKey: ''
  secret: ''
  testnet: false
liquid:
  apiKey: ''
  secret: ''
  testnet: false
livecoin:
  apiKey: ''
  secret: ''
  testnet: false
luno:
  apiKey: ''
  secret: ''
  testnet: false
lykke:
  apiKey: ''
  secret: ''
  testnet: false
mercado:
  apiKey: ''
  secret: ''
  testnet: false
mixcoins:
  apiKey: ''
  secret: ''
  testnet: false
oceanex:
  apiKey: ''
  secret: ''
  testnet: false
okcoin:
  apiKey: ''
  secret: ''
  testnet: false
okex:
  apiKey: ''
  secret: ''
  testnet: false
paymium:
  apiKey: ''
  secret: ''
  testnet: false
phemex:
  apiKey: ''
  secret: ''
  testnet: false
poloniex:
  apiKey: ''
  secret: ''
  testnet: false
probit:
  apiKey: ''
  secret: ''
  testnet: false
qtrade:
  apiKey: ''
  secret: ''
  testnet: false
rightbtc:
  apiKey: ''
  secret: ''
  testnet: false
southxchange:
  apiKey: ''
  secret: ''
  testnet: false
stex:
  apiKey: ''
  secret: ''
  testnet: false
stronghold:
  apiKey: ''
  secret: ''
  testnet: false
surbitcoin:
  apiKey: ''
  secret: ''
  testnet: false
therock:
  apiKey: ''
  secret: ''
  testnet: false
tidebit:
  apiKey: ''
  secret: ''
  testnet: false
tidex:
  apiKey: ''
  secret: ''
  testnet: false
timex:
  apiKey: ''
  secret: ''
  testnet: false
upbit:
  apiKey: ''
  secret: ''
  testnet: false
vaultoro:
  apiKey: ''
  secret: ''
  testnet: false
vbtc:
  apiKey: ''
  secret: ''
  testnet: false
wavesexchange:
  apiKey: ''
  secret: ''
  testnet: false
whitebit:
  apiKey: ''
  secret: ''
  testnet: false
xbtce:
  apiKey: ''
  secret: ''
  testnet: false
xena:
  apiKey: ''
  secret: ''
  testnet: false
yobit:
  apiKey: ''
  secret: ''
  testnet: false
zaif:
  apiKey: ''
  secret: ''
  testnet: false
zb:
  apiKey: ''
  secret: ''
  testnet: false
