pacman: ~
http:
  host: 127.0.0.1
  port: 9874
https:
  host: 127.0.0.1
  port: 9875
  privateKey: ~
  certificate: ~
redis:
  host: 127.0.0.1
  port: 6379
mysql:
  host: 127.0.0.1
  user: ~
  password: ~
  database: passport
io: ~
session:
  secret: ~
  resave: ~
  saveUninitialized: ~
cache:
  time: ~
express:
  views: ~
  engine: ~
  cache: ~
  public: ~
  favicon: ~